.header_outer_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 20);
  height: 10vh;
  color: white;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
}

.header_container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left ul {
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

.header_right ul {
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

.hamburger-menu {
  display: none;
}

.navigation-menu {
  display: none;
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  background-color: rgb(20, 20, 20);
  z-index: 10;
}

.navigation-menu.open {
  display: block;
}

.nav-links{
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;

  ul li{
    margin-left: 20px;
  }
}

.navigation-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-menu li {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
  .header_left ul {
    display: flex;
  }

  .header_right ul {
    display: none;
  }

  .hamburger-menu {
    display: block;
    margin-left: 0%;
  }
  .nav-links{
    display: none;
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 100px; /* Adjust logo size as needed */
}
